.leftContent {
  background-image: url('/backLoggin.jpg');
  background-size: cover;
  background-position: center;
}
.rightContent {
  background-image: url('/backRegister.jpg');
  background-size: cover;
  background-position: center;
}
.logoNavbar {
  background-color: white;
}
.pb-full {
  padding-bottom: 100%;
}


@media screen and (min-width: 768px) {
  .post:hover .overlay {
      display: block;
  }
}