.leftContent {
  background-image: url('/public/backLoggin.jpg');
  background-size: cover;
  background-position: center;
}
.rightContent {
  background-image: url('/public/backRegister.jpg');
  background-size: cover;
  background-position: center;
}