.leftContent {
  background-image: url('/backLoggin.jpg');
  background-size: cover;
  background-position: center;
}
.rightContent {
  background-image: url('/backRegister.jpg');
  background-size: cover;
  background-position: center;
}
.logoNavbar {
  background-color: white;
}
